[2015-01-16 23:55] matthid opened #3 "CI, docs and build script"
Good to see that the project is still kind of alive :+1: .
If you want to move the project forward I would suggest to add a build system (I recommend [FAKE](https://github.com/fsharp/FAKE)) and and CI ([travis](https://travis-ci.org/) and [appveyor](https://ci.appveyor.com/)). FAKE can automatically build the nuget packages and we could try to support multiple builds people have developed here on

[2015-01-17 00:40] alexreg commented on #3
All useful suggestions, I agree. Alas, I don't have the time to do this updating work either right now. I've integrated outstanding fixes and made a few myself tonight (as well as cleaned up some miscellaneous things), but I can't see myself getting more opportunity to work on this any time soon!

That said, if someone wishes to take this on, and wants advice from me, feel free to ask questions he

[2015-01-17 12:47] matthid commented on #3
Ok nice to know, so you would accept (a possibly larger -> moving files around) pull request in this area? I can maybe work on this as a side project in the next couple of days.

[2015-01-17 14:44] alexreg commented on #3
Certainly! I would urge you or anyone else making such big changes to document them well in commit messages, and generally make lots of small commits for each change, where possible… but otherwise, I am happy to accept such a ‘modernisation’ of the project. I would be grateful if you had a go at this in fact. Feel free to check anything with me.

[2015-01-17 16:42] #3 closed

[2015-01-22 02:04] alexreg opened #6 "Update 'Contributing' and 'License' pages on website"
The 'Contributing' and 'License' pages (and links) on the GitHub pages website <https://alexreg.github.io/IrcDotNet/> need to be updated to properly reflect information about this project.

[2015-01-22 23:43] #6 closed

[2015-02-13 06:47] PureDecimation opened #7 "Build error"
Getting this error when I try to run the build script. Not sure what is causing it. Seems to be git related as that is what is thrown everywhere in the code. I have the latest version of git, so not sure what is going on.

Resolve build dependencies
All packages listed in packages.config are already installed.
Starting build
git.exe rev-parse HEAD

F# Interactive for F# 3.1 (private)
Freely distri

[2015-02-13 07:29] matthid commented on #7
You can either install http://git-scm.com/ in it's default location (%program files%/Git/bin should contain a git.exe) or make the environment variable GIT point to a working git.exe.

[2015-02-13 07:57] PureDecimation commented on #7
My git is installed there. It's in program files (x86) more specifically, but that shouldn't make a difference should it?

[2015-02-13 08:59] matthid commented on #7
this looks really weird... anything unusual about your setup? How do you start the build? VS and Windows version? Is your GIT environment variable set?

[2015-02-13 09:11] PureDecimation commented on #7
I'll be honest, I'm not entirely sure. I'm new to this. I've always just used default libraries in the past. So building and installing external ones are a bit foreign to me.

[2015-02-13 09:39] matthid commented on #7
Yeah no problem, no need to understand the build process. It should in theory work and do everything for you out of the box!

I'm just trying to figure out why it fails for you, so I need you to answer my previous questions. Especially I need to now how you start the process (step by step). Normally you open a command prompt, navigate to the folder and write "build".

[2015-02-13 18:44] PureDecimation commented on #7
Yes, I am executing by typing build into cmd in the file path. Nothing unusual about my setup, even tried it on a second compute rwith the exact same result. Using vs2013 and windows 7 on 1 computer, 8.1 on the one I initially tried it on. As for GIT environment variable, I'm not sure. I Googled and looked into it but I couldn't figure out exactly what you meant by that.

[2015-02-13 19:55] matthid commented on #7
Ok try the following things (always logoff-logof, or restart!):
* Add git to your path: Right click on "This PC" -> Properties -> Advanced System Settings -> Environment Variables -> System variables -> Select "Path" -> Edit... -> Append `;C:\Program Files (x86)\Git\bin`. There is also an option in the git installer to do that automatically.
* If that doesn't work try adding a `GIT` environment va

[2015-02-13 20:06] PureDecimation commented on #7
git --version returns "git version 1.9.5.msysgit.0"

Still not working with these new steps. :/

[2015-02-13 20:19] matthid commented on #7
Wow I have no idea what else to check actually...

/cc @forki as it seems to be related to FAKE, any idea what might go on here?
The code that seems to fail is: `let commitHash = Information.getCurrentSHA1(".")`

[2015-02-13 20:43] alexreg commented on #7
I agree with @matthid here… the issue seems odd, unless your environment is somehow messed up. These sound like good steps to try though, so report back.

[2015-02-13 20:44] alexreg commented on #7
msysgit? Is that the default Git installation on Windows? Anyway, 1.9.5 is quite outdated; try installing a new version.

[2015-02-13 21:01] PureDecimation commented on #7
1.9.5 is the latest maintained version. It is the one that is downloaded when you go to the site. About 2 months old. Wasn't sure if I should be using the (what I assume are) beta version. I can try it if you think that would help. Although that would be an odd fix.

[2015-02-13 21:02] alexreg commented on #7
Really? I’m on 2.3.0. My goodness…

[2015-02-13 21:15] PureDecimation commented on #7
Is the build function on your machines? If so, then its almost certainly something on my end. Are there any other dependencies this relies on besides just git? Or specific git dependencies? I found last night that when I ran the build.sh file in a git shell it requested mono dependencies. I mono installed with all recommended features though. Not sure if it might be related.

[2015-02-13 21:39] matthid commented on #7
I use this build system on various different projects and it always worked.
You can use the task-manager to figure out if a mono process is started (it shouldn't when cmd -> "build.cmd" is used)
No mono is required to build and the only dependencies I can think of are git and F#. All other dependencies are downloaded automatically.

[2015-02-14 00:58] PureDecimation commented on #7
Well, I'll look more into it when I get home. I have a friend that is going to try to it out as well. I'll let you know if we get any results.

[2015-02-14 05:27] PureDecimation commented on #7
My mono install actually didn't work correctly because I didn't have the x86 c++ redistributes. Got them and installed mono and it worked the second time. I didn't catch what error it through the first time cause my command prompt closed on me. But I officially have it built. Definitely was a problem with the lack of mono.

[2015-02-14 10:18] matthid commented on #7
Just to clarify: Mono is NOT required on windows. The only case it is required is when executing `build.sh` instead of `build.cmd` (or using `build` in a git bash instead of a windows command line (cmd)). And that's more of a limitation of `build.sh` than a requirement. `build.sh` is written for linux/mac systems.

[2015-02-14 10:18] #7 closed

[2015-05-22 21:27] fritogotlayed opened #9 "NuGet out of date"
I did a search in NuGet and saw this project. It looks like NuGet is still on version 0.4.1 while the code here is at 0.5.0. Are their plans to keep these in sync?

[2015-05-25 00:20] alexreg commented on #9
Hello. I’m afraid not… I’m not sure how to get the build system to automatically publish to NuGet. If this can be done however, I’d be happy to include it. Feel free to submit a pull request.

[2015-05-30 04:24] fritogotlayed commented on #9
Hey @alexreg. I think this is more a configuration issue on the build server than it is a "pull request-able" issue. Maybe I'm wrong here as having automatically built NuGet packages is something that was already configured on my project at work so I don't know the intimate details. My understanding is the `csproj` had a line added to it that triggered NuGet to build the package. From there our Te

[2015-05-30 13:24] alexreg commented on #9
I believe this can still be done via a pull request.

Anyway, any thoughts on how to do this, @matthid?

[2015-05-30 22:20] matthid commented on #9
I don't think there is a real need for automatic push to nuget via build server for this project.
Just building the project and manually uploading the package to nuget should be fine for now (as there aren't a lot of releases currently). This should be working already so I don't think we need any change here.

[2015-05-30 22:21] alexreg commented on #9
What exactly should be uploaded to NuGet now?

[2015-05-31 11:07] matthid commented on #9
The general release procedure is the following:

1. Edit "buildConfig.fsx" and update the target version (0.5 in this case)
2. Edit "doc/ReleaseNotes.md" and enter some release notes.
3. Run "build Release" via cmd
4. Upload "release/nuget/IrcDotNet.0.*.nupkg" (should be the same version as edited above) to NuGet.

[2015-05-31 15:35] alexreg commented on #9
Thank you, @matthid. This is all done from the 'master' branch right? If so, I can do it right now.

[2015-05-31 16:06] alexreg commented on #9
Okay, all done. The new NuGet package is available at https://www.nuget.org/packages/IrcDotNet/0.5.0 <https://www.nuget.org/packages/IrcDotNet/0.5.0>.

[2015-06-01 00:03] fritogotlayed commented on #9
@alexreg @matthid Thanks! :+1:

[2015-06-01 00:03] #9 closed

[2015-06-01 00:06] alexreg commented on #9
Sure. Hope that does the job!

[2015-06-13 18:53] Mailaender opened #10 "Crash with native stacktrace after a few minutes"
I tried to add a simple in-game IRC client to @OpenRA using your library, but it crashes horribly after a while. No idea how to investigate and solve this. Maybe you can help. Source code: https://github.com/Mailaender/OpenRA/compare/irc

[code]

[2015-06-13 19:23] Mailaender commented on #10
I added some debug logging about the current thread and the events are scattered around multiple threads which makes it impossible to interact with UI widgets.

[code]

Is there a way to turn this off?

[2015-06-13 20:06] alexreg commented on #10
I believe these trace messages only occur in debug mode (when the `DEBUG` preprocessor variable is set).

[2015-06-13 20:14] Mailaender commented on #10
I tried it in both Release and Debug build configuration of @OpenRA which doesn't seem to matter. It randomly crashes after 1 to ~5 minutes. Probably earlier if the IRC channel would be more active.

[2015-06-14 05:54] Mailaender commented on #10
My bad. I managed to force everything onto the main UI thread now:
[code]

Had to do it in every caller, not just Connect.

[2015-06-14 05:54] #10 closed

[2015-06-14 14:48] alexreg commented on #10
Okay, glad you've solved the issue!

Sent from my iPhone

[2015-09-15 08:23] notepid opened #11 "TwitchIrcClient not included in NuGet package"
Seems like the TwitchIrcClient is not included in the 0.5.0 NuGet package.

[2015-11-20 08:07] paralin commented on #11
Please spin a new release with the Twitch client!

[2015-12-18 05:59] PFCKrutonium commented on #11
Can confirm, would be helpful.

[2015-12-28 20:20] HelgeSverre opened #12 "Documentation for "beginners""
Could someone please write some Wiki pages with example codes so that people with little experience in .NET can at least attempt at using this library, i can't find jack shit of information on how to connect to a server.

[2016-02-08 18:07] martinmine commented on #11
Would be great if this got fixed as I can't implement the TwitchIrcClient myself since the functions I need to override are protected.

[2016-02-08 18:10] martinmine commented on #12
Look in the samples folder under src, there are plenty of examples there to get you started.

[2016-02-08 20:57] alexreg commented on #11
Sorry for the lack of activity. I’m really looking for a new maintainer to take over this project. So if anyone is interested, and feels qualified, please let me know.

[2016-02-08 21:45] paralin commented on #11
I would be happy to take it over, I run a few major repositories.

My profile: https://github.com/paralin?tab=repositories

 - [Dota2](http://github.com/paralin/Dota2)
 - [Buildroot](https://github.com/paralin/buildroot)

I'm using it for a few projects as well.

[2016-02-08 23:46] alexreg commented on #11
@paralin Great. Any chance you could join ##irc.net on Freenode so we could have a brief chat?

[2016-02-09 00:05] paralin commented on #11
Yes, I can come on in a few hours if that's okay with you.

On Mon, Feb 8, 2016, 6:47 PM Alexander Regueiro <notifications@github.com>
wrote:

[2016-02-09 01:11] alexreg commented on #11
Best we talk tomorrow, if you’re free then – it’s rather late here in Britain.

[2016-02-09 16:49] PFCKrutonium commented on #11
_Waits Patiently_

[2016-02-13 10:04] leegom opened #14 "Is there supporting XDCC protocol?"
If not, is there supporting plans in the future?

[2016-02-13 14:11] ArcaneWater commented on #11
Any news? Is it possible just to make a release with TwitchIrcClient?

[2016-02-13 14:24] alexreg commented on #11
I’m currently in the process of handing over the project to @paralin, but we haven’t been able to complete it yet.

[2016-02-14 03:24] paralin commented on #11
Okay, I'm working on the minor release 0.5.1 right now.

A short term fix for this would be to release a new version with the current develop branch, that includes the Twitch client.

A long term fix is to make the overridden functions overrideable from other libraries. I think removing the internal specifier on these functions is a good option. There's no real reason to limit users' ability to ov

[2016-02-15 01:03] paralin opened #16 "Cleanup documentation build procedure"
See ./docs/build

This needs a cleanup. It's a good system for building the documents, but here are some things that need to be done:
 - [] Read project.json to get project details (they are hardcoded right now)
 - [] Use git worktree to update gh-pages rather than re-cloning
 - [] Cleanup the code generally, its a huge mess.

Help wanted!

[2016-02-15 01:12] paralin opened #17 "Restore documentation build scripts"
For some reason the .gitignore ignored the build directory under doc. I need to figure out how to restore this and push it to master. Also unignore it.

Should be done in the next ~30 min.

[2016-02-15 01:13] paralin commented on #17
I think I just lost the work I did to update the build scripts. Fortunately I just did it and remember exactly what I did. I'll take this as an opportunity to do some ninja cleanup as per #16

[2016-02-15 02:36] #17 closed

[2016-02-15 02:37] paralin opened #18 "Make StandardIRCClient extensible"
StandardIrcClient should have a lot of functions made non-internal so they can be overridden by users.

See `TwitchIrcClient` as something that wouldn't be possible to be made out-of-tree.

[2016-02-15 03:03] paralin commented on #11
Version 0.6.0 was released.

[2016-02-15 03:03] #11 closed

[2016-02-15 03:26] PFCKrutonium commented on #11
:dancer:

[2016-02-16 11:23] Cedericm opened #19 "Sign assemblies in NuGet package"
Dear

Can you please provide signed assemblies in the NuGet packages.
This is often needed for projects that require strong name signing.

Thanks in advance.

[2016-02-16 23:04] paralin commented on #19
Working on this for 1.0

[2016-02-21 22:04] martinmine opened #20 ".NET Core support"
Would be great if there was support for .NET Core. The compatibility report I got for the current code says ~96.8% compatibility, and those issues that are there should be relatively easy to fix such that the code can be compiled to .NET Core.

[2016-03-06 06:56] PFCKrutonium opened #21 "What am I doing wrong?"
![error](https://cloud.githubusercontent.com/assets/3945538/13552795/ad30a33e-e33e-11e5-9381-3486c103a47e.PNG)

Honestly I have no clue. Connecting to Twitch.

[2016-03-06 07:08] PFCKrutonium commented on #21
Source:

[code]

[2016-03-14 18:09] chimera74 commented on #21
I have the same issue on my all new projects with this library. One old project has no issue with it and I can not figure out why. But I'm about to. I'll post what I'll find.

[2016-03-16 18:23] parabola949 commented on #21
Same issue here.  I get my bot to reply, and I immediately get a very similar error.  @chimera74 mentioned an old project was working, so I downgraded the NuGet package to v0.5, and it's working again.  Appears to be a bug in 0.6.

[2016-03-16 19:29] chimera74 commented on #21
I came to downgrading to v0.5 solution too. =(
Odd thing that old project is working with any version I download from NuGet even with the latest one notably. I also changed to latest version of framework (4.6.1) on that project (same as other projects). Could not make it not to work.
I am out of ideas what is causing this.
Using Windows 10, MSVS Community 2015 v14.0.24720.00 Update 1.

[2016-03-21 02:45] Sukasa opened #22 "Server NOTICE causes Null Reference Exception in IrcTargetMask.cs"
Receiving the following NOTICE on an IRC network lead to an NRE:

`:Global!services@service.irchighway.net NOTICE $* :IdleRPG is back! Join #idle-rpg to sign up and play`

This appears to be because on line 43, `this.mask = mask.Substring(1);`, `this.mask` is null.  A quick workaround I applied at run-time, `this.mask = mask != null ? mask.Substring(1) : "";`, allowed me to at least shut the progr

[2016-04-17 21:39] paralin commented on #21
Apologies for taking a while to get around to this.

Is there any way you can capture that error in text form (not a debug popup) so I can have a closer look? Can you send some code to replicate it, preferably in c#?

Thanks!

[2016-04-17 21:41] paralin commented on #22
Thanks, this will be patched in the next version.

[2016-04-17 21:42] paralin commented on #20
Will work on this for the next major version.

[2016-04-17 21:43] martinmine commented on #20
Awesome!

[2016-04-17 21:57] #22 closed

[2016-04-17 22:34] paralin commented on #21
I translated your code to C# and can't reproduce it.

[2016-04-17 23:08] paralin commented on #20
I have nearly everything working but I can't resolve "system.security.cryptography.x509certificates" under the "dotnet" platform... Any ideas?

[2016-04-17 23:47] martinmine commented on #20
All I know is that my portability report says that its available under .NET Core, but not .Net 5 for some strange reason. I found a [post on Github](https://github.com/dotnet/coreclr/issues/31) stating that the crypto namespace you're referring to will be a nuget package you will have to reference for .NET Core as far as I understand it.

[2016-04-18 04:22] PFCKrutonium commented on #21
I'm nowhere near a Windows PC at the moment, but if you make a Visual Basic Console Application, and copy/paste my code (and install the library), then you can direct the output whereever you want.

[2016-04-19 18:11] paralin commented on #21
@PFCKrutonium I tried it on my end without errors.

If you can reproduce please re-open. For now I'll assume it was fixed in the new version.

[2016-04-19 18:11] #21 closed

[2016-05-08 01:20] alexreg opened #23 "IRCv3 support"
This is just a note to say that [IRCv3](http://ircv3.net) support would be desirable, going forwards. I'm not sure how much of it is already in the library (probably not a lot), but it would be worth finding out and maybe starting by making a checklist here.

[2016-05-19 10:30] martinmine opened #24 "Unhanded exception"
After running a system using an IRC connection for a while, the system throws the following exception:
`Unhandled Exception: System.InvalidOperationException: Sequence contains more than one matching element
   at System.Linq.Enumerable.SingleOrDefault[TSource](IEnumerable`1 source, Func`2 predicate)
   at IrcDotNet.IrcChannel.GetChannelUser(IrcUser user) in C:\Users\Martin\Desktop\IrcDotNet\sourc

[2016-05-19 15:24] paralin commented on #24
Couple things here.

We should both ensure the collection can only ever have one matching element added (probably as you say a race condition) and we should also probably switch to FirstOrDefault to avoid the crash.

[2016-05-31 08:13] benpye commented on #20
Did you look at this any further? I'm looking to use the library and I intend to see if I can get it working if it isn't already. That said with the latest announcements there will be a lot more of the API surface anyway.

[2016-06-18 23:47] ghost opened #25 "ONOTICE crash"
There's a crash that happens when an ONOTICE is sent to a channel that an IrcClient is in. I'm not sure if it's a server-specific things, but on SwiftIRC, ONOTICEs send a NOTICE @#SwiftChannel <message>, which causes IrcDotNet to throw

[code]

[2016-06-18 23:50] paralin commented on #25
Interesting, Definitely a bug to fix.

[2016-06-26 00:07] DarkKilauea commented on #20
See pull request #26 for a potential fix for this issue.

Hopefully I'm not stomping on any feet here.

[2016-06-26 22:41] HackerCow opened #27 "Twitch RPL_YOURHOST Crash"
When trying to connect to the Twitch IRC servers, an exception is thrown in ProcessMessageReplyYourHost. The reason is that `localUser.NickName` is incorrectly recognized as `GLHF` instead of the actual nickname.

Stacktrace:

[code]
## Edit:

Upon further inspection, the `NickName` Property gets assigned the bogus value in `ProcessMessageReplyWelcome`, where it (for some reason) assumes `GLHF` as

[2016-06-26 22:58] HackerCow commented on #27
The issue seems to be fixed by using the first line of the welcome message instead of the second, but then a similar issue arises in `ProcessMessageReplyMyInfo`

[2016-06-28 04:16] internetbird commented on #25
Hi @nerii  ,@paralin . I want to help with this. How can I reproduce this bug?  I ran an IRCBot in a SwiftIRC channel and sent an ONOTICE but the bot didn't crash...

[2016-06-28 04:29] paralin commented on #25
@nerii can we get a message to reproduce?

[2016-07-05 15:05] nerii commented on #25
@internetbird Probably a stupid question, but is the bot OPed? (+o) It crashes with any onotice in any channel for me.

http://puu.sh/pR9x9.png

[2016-07-09 07:52] internetbird commented on #25
@nerii  ,yes. The bot is OPed and it receives the notice. I send the notice with mirc client. Do you send it with an IrcDotNet client?

[2016-07-09 15:00] nerii commented on #25
@internetbird Nope, I use mirc as well.

[2016-07-11 16:54] paralin commented on #27
Interesting, will have a look at this.

PR would be appreciated if you can figure out a fix!

[2016-07-11 16:57] paralin commented on #20
Merged into chore/dotnetcore

[2016-07-11 17:05] paralin commented on #14
Probably not for a while. This repo is in maintenance mode mostly.

Re-open if you are interested in adding this or would *really* like someone to add it.

[2016-07-11 17:05] #14 closed

[2016-07-11 17:40] paralin commented on #20
Completed.

[2016-07-11 17:40] #20 closed

[2016-08-14 17:23] tim241 opened #30 "What am I doing wrong?(question, programming)"
This is my code, it does not give me any error or something but it does not join the channel.:
[code]

[2016-08-14 17:35] paralin commented on #30
Wait until you are connected before calling the join function

On Sun, Aug 14, 2016 at 10:23 AM Tim Wanders <notifications@github.com>
wrote:

[2016-08-14 17:40] tim241 commented on #30
How to do that(sorry I don't usually program in C#, I program mostly in vb.net)

[2016-08-14 18:26] paralin commented on #30
Subscribe to the events on the client object

[2016-08-14 18:41] tim241 commented on #30
I tried multiple things like this but it stil ldoes not work ??:
[code]

[2016-08-14 19:56] paralin commented on #30
This is what samples are for:

https://github.com/IrcDotNet/IrcDotNet/blob/develop/samples/IrcDotNet.Samples.MarkovTextBot/Program.cs#L20

[2016-08-17 19:31] tim241 commented on #30
Nevermind I use ChatSharp now and I am wroking on this bot: https://github.com/tim241/TimsIRCBot

[2016-08-17 19:32] #30 closed

[2016-08-26 07:00] txdv commented on #18
I think the StandardIrcClient is the wrong place to do so.

It has mainly socket code. IrcClient has code for intent, so it should go there, though currently the changes wouldn't easily propagate to StandardIrcClient, because it just overrides some handles. Maybe the abstract and inherit relationship is not enough to model this.

[2016-08-28 14:55] joelghill opened #31 "Xamarin - adding IrcDotNet to project via NuGet fails"
Adding IrcDotNet via NuGet in Xamarin Studio fails with this message:

"Could not install package 'IrcDotNet 0.6.1'. You are trying to install this package into a project that targets 'MonoAndroid,Version=v6.0', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author."

Building IrcDotNet in

[2016-09-05 20:49] ChillyFlashER commented on #27
A solution to this problem might be that the nickname is in uppercase or has uppercase letters, I believe that Twitch only responds with lowercase.

[2016-09-05 20:57] paralin commented on #27
@ChillyFlashER is that a different issue to it recognizing the wrong line of the welcome message?

[2016-09-05 21:08] ChillyFlashER commented on #27
@paralin When I connect with a uppercase nickname
[code]
then I get
[code]
Now if I connect with a lowercase nickname I don't get any issues.
[code]
I found this issue when debugging "ProcessMessageReplyYourHost",,, message.Parameters[0] is in lowercase and the localUser.NickName is not.

[2016-12-03 03:02] AlaskanDruid opened #32 "Missing Constructor and Connect method"
The current Nuget release is missing the constructor:

"Cannot create an instance of the abstract class or interface 'IrcClient'

Using...

`IrcClient client = new IrcClient();`

The connect method is also missing between:

IrcClient.ClientInfoReceived
IrcClient.Connected

[2016-12-31 00:46] PyuuCH opened #33 "Assertion Failed spam at IrcDotNet.IrcClient.ProcessMessageReplyYourHost"
I'm connecting the IRC client to a custom coded (python) irc server (that someone else is hosting / made) that doesn't have everything implemented, so I expected some errors like this. The thing is, if I ignore all 10-30 popup windows (by pressing the Ignore button), the program still runs fine and receives messages as expected.

I would like some way to disable this assert fail spam, or just some

[2017-02-08 23:58] TedCrocker commented on #33
I ran into the issue as well, I narrowed it down to a lot of Debug.Asserts in the source code (IrcClientMessageProcessing), the one failing for me was:

 Debug.Assert(message.Parameters[0] == localUser.NickName);
And all that was wrong was the case didn't match exactly.

 I personally do not think they should be there in code that goes out on nuget. A workaround I found is here: http://stackoverfl

[2017-02-09 00:40] paralin commented on #33
You're right - shouldn't be on nuget. I'll look at fixing that.

[2017-02-09 00:45] paralin commented on #33
I think the majority of the debug assert statements fail when running against a nonstandard server, by the way, and expected behaviors aren't happening.

[2017-02-09 01:49] TedCrocker commented on #33
That would make sense, I got the error when using the Twitch client.

[2017-03-15 04:51] agc93 opened #34 "Target .NET core"
Although the code includes a `project.json` targeting `netstandard1.5` (presumably as a result of #20 ), the package on NuGet seems to still be targeting .NET Framework and DNX targets. Will there be an updated NuGet package to support `netstandard` since we can't currently install this package into a .NET Core project?

[2017-03-15 05:01] paralin opened #35 "Finish upgrade to dotnet 1.0 and push to NuGet"
I previously made attempts to upgrade this package to .NET Core as well as to upgrade the tooling to the latest, as defined by dotnet. The issue is that they decided some time ago to move away from `package.json` just after everyone had finished migrating to it. During the rc phase of dotnet, each RC version completely broke everything using the previous version, with no easy way of upgrading code

[2017-03-15 05:01] paralin commented on #34
Please see #35

Feel free to PR

[2017-03-15 05:02] paralin commented on #33
Debug assertions should NOT be enabled at release.

Marking as a bug and renaming as such.

[2017-03-15 05:04] paralin commented on #32
It's an abstract class, you can't construct it, correct?

[2017-03-15 05:04] #32 closed

[2017-03-15 05:04] paralin commented on #31
We do not target MonoAndroid right now. See #35 and #34

[2017-03-15 05:08] paralin commented on #35
Steps required to proceed below:

 - [ ] There is a [dotnet migrate](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-migrate) tool, investigate if this is applicable to this project
 - [ ] Decide if we need to wait for dotnet v2 or not.

[2017-03-15 05:46] paralin commented on #34
We did actually upgrade the project to the new dotnet CLI, but there were outstanding issues with it that I had not fixed yet, so it has not been pushed to nuget yet.

See the other issue, I'm going to try to get a new version up tomorrow.

[2017-03-15 05:47] paralin commented on #35
The migrate tool succeeded, but compilation fails. The library itself compiled fine, but the samples do not.

This is promising, I will try to iron out the remaining errors tomorrow and push to nuget when I have a stable build + tests.

I can only hope the NUnit tests don't need to be rewritten.

[2017-03-15 05:53] paralin commented on #34
Closing this issue in favor of the other linked above.

[2017-03-15 05:53] #34 closed

[2017-03-15 05:54] paralin commented on #31
I'm not certain what is required to target Android. Do we need anything more than dotnetstandard support?

[2017-03-15 05:55] paralin commented on #33
Should be fixed tomorrow with the release of a dotnetstandard version.

[2017-03-16 07:22] HackerCow commented on #27
I recently had time to look at this again, and in hindsight it seems that this was just a stupid mistake on my part. I used a `StandardIrcClient` instead of a `TwitchIrcClient`, which obviously didn't work. Sorry for the confusion.

The issue described by @ChillyFlashER still occours though, I'll try and submit a fix for that soon.

[2017-03-16 08:52] HackerCow commented on #23
I've taken the liberty of examining the situation on this issue. As expected, none of the new features are supported at the moment. I've summarized the missing capabilities below (there may or may not be more), excluding work-in-progress specs.

- [ ] [Capability Negotiation](http://ircv3.net/irc/#capability-negotiation)
- [ ] [Acocunt Tracking](http://ircv3.net/irc/#account-tracking)
- [ ] [Away

[2017-03-16 18:39] alexreg commented on #23
Thanks for that. If you'd like to create issues for any of these individual features, and start tackling them yourself, feel free! I'd be happy to review any PRs.

[2017-03-16 19:06] paralin commented on #35
Tests have to be significantly modified to fit under the new dotnet testing framework. Working on that now.

[2017-03-20 06:59] HackerCow opened #37 "IRCv3 support: Capability Negotiation"
An important first feature for IRCv3 support would be Capability Negotiation. See [the spec](http://ircv3.net/irc/#capability-negotiation) for details on how to implement.

[2017-03-20 13:48] chrboe opened #38 "Change IRC commands to uppercase(?)"
When implementing #37, I noticed that the library currently sends all IRC commands in lowercase. The spec uses uppercase commands in all examples, and most implementations send commands in uppercase. I therefore suggest changing all of the commands to uppercase (I'd be happy to contribute a PR for this if it is confirmed that this doesn't raise any ideological concerns)

[2017-03-20 13:50] paralin commented on #38
Sounds fine, PR please.

[2017-03-20 13:51] paralin commented on #38
By the way, in your PR commit in the body please provide some references (maybe just a couple links to some examples showing the uppercase)

[2017-03-20 20:17] #27 closed

[2017-03-31 17:05] agc93 commented on #35
Any movement on this @paralin or work we can help with? I'd love to use this with one of my libraries, but it's on `netstandard` already :/

[2017-03-31 17:08] paralin commented on #35
https://github.com/IrcDotNet/IrcDotNet/pull/42

That's part #1 of the upgrade.

Been stalled for a few days since I'm crazy busy right now, but I'm pushing to finish it soon.

[2017-03-31 17:11] agc93 commented on #35
No problem, thanks for the update @paralin !

[2017-03-31 23:41] PFCKrutonium opened #43 "Trying to connect to a rather obscure IRC Server"
Basically, I need to connect on a non-standard port (7021) as well as ignoring an invalid (self signed) SSL Certificate - Can't connect without SSL. I can't find a way to specify the port, or specify to ignore the SSL self signed SSL and connect anyway.

As it is, it sits "Connecting" forever.

[2017-04-01 10:29] HackerCow commented on #43
There definitely is a way to specify the port (e.g. `public void Connect(string hostName, int port, bool useSsl, IrcRegistrationInfo registrationInfo)`). As for the self-signed certificate, there is no option to disable certificate checking AFAIK. Maybe that would be a desirable feature in the future

[2017-04-04 17:13] paralin opened #44 "Track fixes to Travis .NET Core issue"
There is currently a Travis / Microsoft issue breaking Travis.CI builds:

 - https://github.com/travis-ci/travis-ci/issues/7565

Currently I am proceeding ignoring the Travis errors, testing locally until this is fixed.

[2017-04-04 18:26] paralin commented on #35
@agc93 Done, please have a try and make an issue if anything is broken.

[2017-04-04 18:27] #35 closed

[2017-04-27 21:41] RheaAyase opened #45 "StandardIrcClient.Connect should not be protected."
Hi guys, how are you supposed to instinctively connect the client to a server without this method? Just curious. Oh and. Make it public. Cheers! =)

[2017-04-27 21:45] RheaAyase commented on #45
Oh hey nevermind, it's just a copypasta code that doesn't override/call base.Connect in any way. Very confusing... Still consider it as a feedback to the... design of the whole thing?

[2017-04-27 21:45] #45 closed

[2017-05-02 17:49] HackerCow opened #46 "Refactoring"
I'd like to propose a general refactor of the code base. For example, the fact that functions are documented in an inline fashion - don't get me wrong, that's generally a good thing - can lead to some files being huge (take IrcClient.cs, 2064 lines). Some of this unnecessary length can be avoided imo, e.g. by moving classes (like IrcMessage) to separate files.

[2017-05-02 18:15] paralin commented on #46
That's fine. Thanks for PRs!

[2017-05-02 18:54] HackerCow commented on #46
Any limits/preferences on C# versions? I'd like to use some C# 6 features (see [here](https://github.com/dotnet/roslyn/wiki/New-Language-Features-in-C%23-6#expression-bodies-on-property-like-function-members)), e.g. expression-bodied properties or null propagation

[2017-05-02 18:58] paralin commented on #46
Newer features are fine, as long as we can produce binaries that are somewhat compatible with older .net versions.

[2017-05-03 11:58] HackerCow commented on #33
There are still a lot of Debug.Asserts even after the .NET standard update. How about just replacing these with exceptions and handling them accordingly?

[2017-05-03 13:06] paralin commented on #33
Those assertions are there to probe for bugs in the testing phase. They are not included in the release binaries anymore.

[2017-05-12 23:37] Rusty-Shackleford opened #48 ".NET 4 Compatibility"
Hello, I've tried to include IrcDotNet in various c# solutions and it fails.  I've attempted to target every version of the .NETFramework from 4.0 up.  I even downloaded the zip archive of this repo and cannot get your solution to load in VS2015 or 2017.  I've never had that issue before with other projects, so I'm not sure what I'm doing wrong here...

I get the standard error:

[2017-05-12 23:39] paralin commented on #48
We don't target .net 4 right now. It will likely be included in the next release. The issue is that the dotnet tooling is not particularly good at targeting older versions of .net after we upgraded the package to be compatible with .net standard.

[2017-05-12 23:40] Rusty-Shackleford commented on #48
The documentation says:

Which framework should I use?

[2017-05-12 23:41] Rusty-Shackleford commented on #48
Appreciate the help btw, really hoping to use this!  :)

[2017-05-13 06:16] paralin commented on #48
You should use .Net Core - which is .Net Standard, Microsoft's new cross platform open source version of .NET: https://www.microsoft.com/net/core

[2017-05-14 14:55] Rusty-Shackleford commented on #48
Ok that clears it up, I've just not had a use-case for Core yet.  Now I do!  Thanks for your help, sorry for the noob question.

[2017-05-14 14:55] #48 closed

[2017-06-07 12:15] canton7 opened #49 "Trying to connect over SSL causes IOException: Received an unexpected EOF or 0 bytes from the transport stream."
To reproduce:

1. Fresh clone of the repository, open the sln
2. Open IrcBot.cs, change line 159 to `client.Connect(server, true, registrationInfo);` (to enable ssl).
3. Start the "MarkovTextBot" sample
4. When prompted, enter "connect chat.freenode.net" (which listens on port 6667 for SSL connections)

The following exception is thrown:

[code]

Where the InnerException is:

[code]

I tried the s

[2017-06-30 19:42] canton7 commented on #49
The issue is that CircularBufferStream.Read returns 0 when there is not yet any available data. SslStream expects Stream.Read to block until there is available data. I'm not sure that there's any way to make it block without making CircularBufferStream thread-safe.

[2017-06-30 21:02] paralin commented on #44
Fixed, let's verify it's OK in this repo.

[2017-06-30 21:02] #44 closed

[2017-07-18 17:31] wledfor2 commented on #49
Anyone have a workaround for this issue in the mean time? It's pretty crippling, with many networks going SSL only.

[2017-07-18 17:54] wledfor2 commented on #49
Does anyone have a temp workaround for this issue? It's very crippling, with more and more IRC networks going SSL only.

[2017-07-18 18:49] paralin commented on #49
I'll have a look at the issue tonight and will release a fix soon.

[2017-07-18 19:00] canton7 commented on #49
I haven't looked at the code since I last commented, but I suspect the solution is to wrap the SslStream around the NetworkStream, then wrap the CircularBufferStream around the SslStream, rather than SslStream around the CircularBufferStream around the NetworkStream.

[2017-07-18 19:06] wledfor2 commented on #49
Thanks, both of you. I tried fixing the issue myself for a PR but had no luck.

[2017-07-18 20:39] canton7 commented on #49
The comments make it look like it was supposed to open the SslStream directly over the NetworkStream: https://github.com/IrcDotNet/IrcDotNet/blob/8151fa8bff2bc031fb3e0b730624c3d678b0c9ff/source/IrcDotNet/StandardIrcClient.cs#L439. I suspect someone broke something at some point when the CircularBufferStream was introduced.

[2017-08-20 01:28] Felk opened #50 "IRCv3 support: message tags"
The library does not support message tags as of right now.

Here's the spec: http://ircv3.net/specs/core/message-tags-3.2.html
Here is a Pull Request adding basic, but insufficient support: <gonna edit it in in a sec>

This issue directly relates to #37 (pull request #39), and is part of the IRCv3-support tracking issue #23.

[2017-08-20 01:30] paralin commented on #50
Thanks for the PR. Can you clarify what you mean by insufficient?

[2017-08-20 01:33] Felk commented on #50
Have a look at the pull request. Insufficient means that the support is only of internal character, and not usable by actual library users yet.

[2017-08-22 02:06] zzzanderw opened #52 "NuGet package requires .NETStandard v1.5"
When attempting to install IrcDotNet via NuGet in VS2015, I get an error stating I am targeting an incompatible version of .NET:
[code]
The dependencies required by NuGet in VS2015:
![Screenshot of dependencies in NuGet](https://i.gyazo.com/a21ba1e61d936936dc6a36ddc5282e4c.png)

Is it correct for IrcDotNet to not support versions of .NETStandard greater than v1.5?

[2017-08-22 02:38] paralin commented on #52
Not correct, will need to revise something about the build process for this.

[2017-10-03 06:21] txdv commented on #32
Use StandardIrcClient.

IrcClient has all the logic, StandardIrcClient ties the logic to the sockets

[2018-01-22 22:06] ransagy opened #54 "StandardIrcClient/IrcClient Quit method not disconnecting cleanly?"
When using the 0.7.0 NuGet package on a new .NET Core 2.0 console application, Calling a connected, registered `IrcClient`'s Quit method, with or without a comment, usually results in "EOF from client" for me when viewing the quit reason/line from another IRC client on the same server/channel. As i understand, That's basically saying the disconnecting wasn't clean on the client's side.

I'm connec

[2018-02-26 23:27] paralin opened #56 "Seeking maintainer(s)"
I've dreamed of having enough spare time to bring this repo up to date for a long time. Unfortunately, both my personal work and my professional work has moved completely away from C#, and I haven't used it in over a year. For this reason I have not had the opportunity to update this package in quite some time.

Looking for one or more community members using this package that would be interested

[2018-02-26 23:30] ransagy commented on #56
While i don't nearly have the time to oversee the entire project, I'd be more than willing to help with small tasks and the like if/when someone steps up to take that position. I've been working with .NET and C# for over a decade now and should be able to help out with short-term changes and quick fixes.

[2018-03-05 20:24] izrik commented on #56
I would love to be involved on this project. I probably don't have the requisite experience to be the primary maintainer, but I'm definitely available to submit PR's, etc.

[2018-03-05 22:23] paralin commented on #56
Let's do this then. I'll still maintain in terms of reviewing PRs and hitting the final commit and release buttons. Let's set up a working group of community maintainers that also review PRs when possible and in general try to address issues in the code:

 - @ransagy - short term changes and fixes (assigned via issues), code review
 - @izrik - issue fixes and features

I will update this list a bi

[2018-03-05 22:25] chrboe commented on #56
I'm in a similar position as you @paralin, I haven't worked with C# in a long time and don't use the library anymore, though I'd be more than happy to review some PRs here and there (I am fairly familiar with the codebase after all)

[2018-03-06 03:51] paralin opened #57 "Fix tests"
Before we can start merging PRs, the tests need to be fixed. This issue details that effort.

At minimum I'd like to consolidate on Travis, or at least on a single Ci rather than multiple.

[2018-03-06 03:52] paralin commented on #56
@chrboe Great, will add you to the list.

@chrboe @ransagy I'd love if you guys could give the other PR's in the queue reviews/tests as well if possible.

In general we need to fix the CI before we can start merging things. #57

[2018-03-06 03:53] paralin commented on #56
@chrboe I know you submitted a few of the pending PRs - will finally get around to getting those in :)

[2018-03-06 10:53] ransagy commented on #57
I'm a little less familiar with Travis, but in general - what is the current makeup of our CI/CD pipeline? Which parts of it are broken? (beyond making sure the current tests are successful, both locally and on the CI solution)

[2018-03-06 23:52] paralin commented on #57
At the moment the repo needs a PR to bring it up to the latest C# project standards, including CI. Travis is broken at the moment because Travis actually broke C# support for the version we are pinned to.

[2018-04-01 17:34] alexreg commented on #56
Thanks for making the effort to keep this project well-maintained, @paralin. As someone who hasn't used C# much since handing over this project to you and others, I can sympathise. But it's great if someone can still help maintain it, at least to oversee PRs and the like!

[2018-04-08 06:37] flightlevel commented on #57
Tried to fix in https://github.com/IrcDotNet/IrcDotNet/pull/59

But it's weird how the tests work every time on my PC, but fail on both Appveyor and Travis ???

[code]

[2018-05-26 18:58] ibiza240 opened #61 "Is this an error?"
Likely a typo...or should it be reversed like that?

class IrcBot around line 341

![image](https://user-images.githubusercontent.com/6589646/40579437-21990884-60f5-11e8-94cb-c485b21fe890.png)

[2018-05-27 16:06] chrboe commented on #61
that does indeed look like a typo.

have you tested this example?

[2018-08-07 23:52] clausjoergensen opened #62 "Bug in the regex for serverName"
The current regex for parsing the server name (regexServerName) is "([^%@]+?\.[^%@]*)", however that returns a positive match for a user where the userName contains a dot (".") within the characters provided by the server. Example:

Windcape!claus.joer@Clk-7E3F3D83

Here the regex matches "Windcape!claus.joer", resulting in the Source being assumed to be a server, when it's in fact, a user.

[2018-08-08 12:36] chrboe commented on #62
Are you sure that this username is valid?

Quoting RFC 1459 (Internet Relay Chat Protocol):
[code]

Notice how `nick` is defined as `<letter> { <letter> | <number> | <special> }`, which doesn't include spaces.

That being said, I'm not sure how we should deal with this, even if it's non-compliant. The fact of the matter is that we simply can't decide whether something is a domain or a username pur

[2018-08-08 12:42] clausjoergensen commented on #62
Popular clients like mIRC uses the "email" provided as the UserName.

But you do. `IrcClient.GetSourceFromPrefix(..)` relies on the parsing logic being correct. If it parses out the UserHost as a ServerName, it'll return the wrong source.

[2018-08-08 12:56] chrboe commented on #62
Right, I mixed some stuff up there. `nick` is the part before the `!`, `username` is the part after it.

I [tested the regex](https://regex101.com/r/foumbT/1), and it seems to be identifying the prefix parts just fine. What's a little curious is what follows after:

https://github.com/IrcDotNet/IrcDotNet/blob/1224728583e5f9e69b1a4c957e9f03a4ce524db9/source/IrcDotNet/IrcClient.cs#L963

If the regex

[2018-08-08 13:13] chrboe commented on #62
It really seems like the logic is correct... (see https://ideone.com/PWoN7q)

Can you try and debug your test setup in order to find out what serverName, nickName,... are at this line? https://github.com/IrcDotNet/IrcDotNet/blob/1224728583e5f9e69b1a4c957e9f03a4ce524db9/source/IrcDotNet/IrcClient.cs#L961

[2018-08-08 13:16] clausjoergensen commented on #62
Sure, let me try and revisit the logic. I'll re-open if I can make a reproduction.

[2018-08-08 13:16] #62 closed

[2018-10-14 21:04] ornitorenk opened #64 "Turkish capital "i" problem"
When I try to connect to a server via a machine with Turkish culture I see raw output messages with error of:
"451 NİCK :You have not registered"

Or when I try to join a channel using client.Channels.Join() it says:
"JOİN :Unknown command"

I think there is a problem regarding to Turkish capital i problem.
Commands should be NICK or JOIN not NİCK or JOİN

More info: https://haacked.com/archive/20

[2018-10-21 06:26] hypodyne opened #65 "Event Handlers are being called from a different thread."
I am trying to replace another irc library with your library.  I am using it with Mono.
It seems to connect okay, but when an event handler, receives an event and I go to update the user interface, I get an "xxx can only be called from the main thread".

I don't know much about threading, but it seems to me that you should be returning the event on the main thread.

`public void Connect(Server ser

[2018-10-21 12:57] Insire commented on #65
When you have a user interface like winforms or wpf(or any UI framework that i know off), its your task as developer to make sure that you talk with your UI on the correct thread/ context. Its not the task of any library to mess with that.

[2018-10-21 13:06] chrboe commented on #65
On a more practical note, you should use the `Invoke` method to run your function on the correct thread.

[2018-10-21 13:13] Insire commented on #65
for WPF it is [System.Windows.Application](https://docs.microsoft.com/en-us/dotnet/api/system.windows.application?view=netframework-4.7.2).Dispatcher.Invoke(someAction);

[2018-10-21 22:09] hypodyne commented on #65
It's unity 3D game engine. What does that use? I don't know.

In this client [https://github.com/cshivers/IrcClient-csharp/blob/master/IrcClient-csharp/IrcClient.cs](https://github.com/cshivers/IrcClient-csharp/blob/master/IrcClient-csharp/IrcClient.cs) I did not have any problems. See line 56 and 153. It handles it for the user.  The only reason I am not using that is because it has a viral licen

[2018-10-26 10:11] hypodyne commented on #65
Okay, worked out how to use it with unity.

Thanks for the feedback.

[2018-10-26 10:11] #65 closed

[2018-11-02 08:39] hypodyne opened #66 "Identifier"
Hi All.

I'm looking for a way to identify anyone with my irc client in a channel. In IceChat they have an Ident name field which shows up in the nick list. See image.

Does IrcDotNet have anything similar? When I login to a channel using my client I see my username@ipaddress at the moment. Is that the Ctcp.ClientVersion field.

![icechat](https://user-images.githubusercontent.com/28817500/4790244

[2018-11-04 06:19] hypodyne commented on #66
Found it.
Its the username.

[2018-11-04 06:19] #66 closed

[2018-11-07 01:39] hypodyne opened #67 "IrcUser.Quit event"
Hi All
The IrcUser.Quit event is not always being called leaving me with ghost users in my nicklist. I see in the source that its not always sent. How do you handle the user quits so its accurate?
thanks.

[code]

[2018-11-07 04:57] hypodyne opened #68 "Ctcp Version request"
Hi all
A ctcp version request is being interpreted as a message, instead of creating a ctcp version response. I am setting the CtcpClient.ClientVersion string. VERSION is all that is displayed when a version request is received from IceChat.
thanks

![version](https://user-images.githubusercontent.com/28817500/48111438-6a35a700-e28c-11e8-87d1-2a9b0814d519.png)

[2018-11-07 05:05] hypodyne commented on #68
I have just tested Action with the same result. prints "<hypodyne> ACTION thinks this is okay"
I should add I have hooked up the ctcp client the same way as in the intergration test dataset (IrcClientTestSet.ClassInitialize()). I am guessing this is the correct way to do it.

thanks

[2018-11-08 22:56] hypodyne commented on #68
Howdy.
I built from source code and the ctcp version seems to work fine.
thanks.

[2018-11-08 22:56] #68 closed

[2018-11-28 05:13] txdv commented on #67
You mean that everything is fine with IrcUser.Quit in IrcDotNet?

I mean, you have the source code, why don't you just look it up?

[2018-11-28 05:18] hypodyne commented on #67
Hi txdv
I did look it up and found that quit events are not always sent. Why? I don't know.

[2018-11-28 05:19] txdv commented on #64
[code]
returns JOİN, I guess you are right, somewhere ToUpper with culture is called and it doesn't make sense

[2018-11-28 08:45] txdv commented on #67
Sometimes people part from channels? Did you consider that ?

[2018-11-28 08:51] hypodyne commented on #67
I am subscribing to both quit and part.  I run IrcDotNet side by side with IceChat, Sometimes people leave from Icechat but are still in IrcDotNet. The quit event is just not being called sometimes as the source code snippet suggests.

[2018-11-30 08:55] hypodyne commented on #67
The strange thing is that the Channel.Users.Count is correct the next time someone leaves, joins or quits. But the quit event is definitely not being thrown every time. About 30% are thrown okay.

I tried to trace this via the source. When I got to `protected internal void ProcessMessageQuit(IrcMessage message)` Visual Studio could not find any further references.

I am using it as a unity3d plugi

[2018-11-30 21:16] txdv commented on #67
Can you look where Count gets incremented and decremented? Find all the references? Maybe that will enlighten us?

[2018-11-30 21:50] txdv commented on #56
I can chip in, I don't code C# professionally currently, but it is still an awesome language that I like to code in my freetime.

[2018-12-02 14:29] txdv commented on #56
@paralin @alexreg ? You guys up?

[2018-12-02 17:17] alexreg commented on #56
@txdv I don't really do much C# any more, but I'm happy to pass this along to a maintainer who is serious about keeping it up-to-date and the least bug-fixing/reviewing PRs. :-)

[2018-12-06 07:54] txdv commented on #56
@alexreg Hey, I am serious! I think I would manage to find more time than currently is being spent.

[2018-12-06 17:39] alexreg commented on #56
Oh I know you are, no jokes! @paralin would you be happy to either share or pass on maintenance duties to @txdv?

[2018-12-06 17:49] paralin commented on #56
No worries, I'm way too busy working on Go and C/Linux related stuff these days to follow C# :)

[2018-12-11 07:40] hypodyne commented on #67
I think it maybe an issue with Unity3D and not IrcDotNet.
I don't think the events were getting through.
So I am going to close the issue.
Thanks for your help txdx

[2018-12-11 07:40] #67 closed

[2018-12-13 09:06] hypodyne commented on #49
I get the same issue using SSL and the Standard IRC client.

Platform Unity/Mono.

[2018-12-13 19:35] txdv commented on #56
So what is the protocol now @paralin @alexreg ?

[2018-12-13 20:52] alexreg commented on #56
@txdv I've sent you an invitation to the IrcDotNet team. Welcome! If you have any questions on how things should be managed, or releases performed, go first to @paralin and then to me.

[2018-12-14 20:15] #61 closed

[2018-12-14 20:15] #64 closed

[2018-12-14 20:17] paralin commented on #54
Have you tried manually sending a disconnect message before sending quit()?

[2018-12-14 23:09] ransagy commented on #54
I have not, at the time. While it's not a project I'm actively working on anymore, I'll try to get around to trying that to find out. Thanks for the heads up.

[2018-12-28 06:19] hypodyne opened #71 "nick changed event"
Requested feature:

When sending a user nickname changed event, add a new eventArgs with the oldNickname and newNickname.

Can't see how its of any use without this information.

You have the IrcUser as sender, which will contain the new nickname, but not the old nickname. I have to find the string in a UI list to change it.

[2019-01-13 10:20] Adanaran commented on #24
This is still happily crashing the lib in a rather "regular" manner (somtimes hours, sometimes days).

[2019-01-27 21:59] hypodyne opened #72 "Network Information Received"
So you connect to a network(Freenode), and it sends back the network information.
251, 252, 253, 254, 255, 265, 266, 250

IrcDotNet throws the NetworkInformationReceived event with the details in e.Comment.

e.Comment sometimes contains a properly formatted string

"There are 109 users and 84695 invisible on 32 servers"

and sometimes e.comment contains a number as a string.

"5"

The event is thr

[2019-02-03 07:19] wix-andriusb commented on #72
You want to tell me that it splits on 84695 between 8469 and 5 ?

[2019-02-03 08:49] hypodyne commented on #72
I have a wireshark capture, and it seems if the response from the server is incorrect, then IrcDotNet also gets it wrong. Let me post a screenshot.

[2019-02-03 08:58] hypodyne commented on #72
![wireshark](https://user-images.githubusercontent.com/28817500/52174801-4f63c780-27d4-11e9-8c56-6c9ef8b80e52.png)

Since freenode is sending packets which I presume are longer than the 1024 limit, it gets split in the wrong place. (in wireshark) and IrcDotNet can't handle that either. What happens is 265, 266, 250 don't throw an event. thats item 1.

[2019-02-03 09:03] hypodyne commented on #72
![wireshark2](https://user-images.githubusercontent.com/28817500/52174852-2db71000-27d5-11e9-950d-7a12421b9cf0.png)

Another issue is that IrcDotNet throws the NetworkInformationReceived event with just 35 as the comment. What it should be is "35 :IRC Operators online". Without that extra info there is no telling which of the 7 different network information properties it comes from.

[2019-02-04 05:31] txdv commented on #72
So the issues here are:

* If the server sends a response with > 1024 bytes, it gets split in the wrong place.
* Event 252 (RPL_LUSEROP) has an integer field and some additional info

Is that correct?

Here is a nice list of events https://www.alien.net.au/irc/irc2numerics.html

[2019-02-04 05:40] txdv commented on #71
Do you want to try to do a pull request for this?

[2019-02-04 05:40] hypodyne commented on #72
Yes, that is what I think is happening.

A few network information events return an int (and that is all they return) in e.Comment.

Really all events should be returning enough information so that you can post the response.

[2019-02-04 05:43] hypodyne commented on #72
Yes here is one too [http://www.networksorcery.com/enp/protocol/irc.htm](http://www.networksorcery.com/enp/protocol/irc.htm)

Notice 252

[2019-02-04 05:44] hypodyne commented on #72
16

[2019-02-04 05:45] hypodyne commented on #72
34

[2019-02-04 05:45] hypodyne commented on #72
73

[2019-02-04 05:45] hypodyne commented on #72
16, 34, 73 What do they mean. Without context they are useless.

[2019-02-04 05:48] txdv commented on #72
This is not IRC, try to add all comments in one response :D
Also do you know what all of the meanings of the integer parameter in notice 252 are? Maybe there is a source which describes them?

I think you are right that events in the library should contain everything that is needed, its just that in open source usually something happens when someone needs it or makes an issue out of what he dislik

[2019-02-04 05:55] hypodyne commented on #72
Just letting you guys know. It's not important at all.

[2019-03-19 06:25] tom5079 commented on #12
samples are unclear, verbose, and lack of informations.
There's TwitchIrcClient, and Markov-thingy.
Obviously I am not building twitchbot so I don't need that and Markov-thingy is too verbose for beginners.
MarkovChainTextBot inherits BasicIrcBot and BasicIrcBot inherits IrcBot and so on.
Do I need to implement all that classes to build simple IRC bot? Then this library is useless, I can just use

[2019-03-25 10:40] tom5079 opened #73 "Register event not called in StandardIrcClient"
StandardIrcClient is not calling OnRegister in any of its codes.

[2019-03-25 11:16] #73 closed

[2019-03-25 11:18] tom5079 commented on #73
It was partial class :(
Why am I peeking your codes anyways?
Your documents are lack of information.

[2019-03-25 12:39] tom5079 opened #74 "bug in sending PASS/NICK command"
if you provide
nickname: abcd
password: secretpasswordhere

this library sends like this
PASS :secretpasswordhere
NICK :abcd

[2019-03-25 12:45] chrboe commented on #74
Please elaborate as to how this is supposed to be a bug. What did you expect to happen?

[2019-03-25 12:52] tom5079 commented on #74
It should be
PASS secretpasswordhere
NICK abcd
as described in [RFC 2813](http://www.networksorcery.com/enp/rfc/rfc2813.txt)

in IRC protocol, you have to put :(colon) before trailing parameters

In older standards like [RFC 2812](https://tools.ietf.org/html/rfc1459#section-4.1.1)
PASS parameters were <password>
but it changed to <password> <version> <flags> [<options>]
so you don't need colon in

[2019-03-25 12:57] tom5079 commented on #74
I don't know well about the IRC standards, but it seems to be a bug because some other IRC clients like HexChat and kiwiIRC didn't include colon.

[2019-03-25 12:59] tom5079 commented on #74
and even in the RFC 1459, example says PASS secretpasswordhere not PASS :secretpasswordhere

[2019-06-28 06:14] Sonic3R opened #75 "Sending an invite command not working"
Hi,

I'm happy to use this library for connecting to different irc servers. But I want to connect to a channel which is invite based, the invite command looks like:
`/msg botname invite XXXXXXXXXXXAAAAXXXX`

I have the following code where I tried to send command but no success:

[code]
Seems that `msg` is unknown command ... how's that ?

How to achieve this ?

[2019-08-04 20:32] oreleraki commented on #75
This is not a bug, but a misuse of the Protocol.
Use:
`_client.SendRawMessage(INVITE Nickname #Channel)`

[2019-08-12 11:51] Sonic3R commented on #75
That is special command in order to be able to join a channel. To be in a channel you must be invited by using command `/msg botname invite THIS_UNIQUE_CODE` ...

So, in this case how to send such command ?

[2019-08-12 12:13] oreleraki commented on #75
Ok, but you need to understand "/msg" doesn't exists in actual protocol world, but only in client side implementations.

IRC Message are declared in the following format:
`PRIVMSG NICKNAME :MESSAGE` (including the colon ':')

So what you need is probably:
`_client.SendRawMessage("PRIVMSG botname :invite THIS_UNIQUE_CODE")`

[2019-08-12 13:50] Sonic3R commented on #75
Yes, it is working !

[2019-09-20 15:14] oreleraki commented on #56
Is there any chance to make this project activate again ? i have some free time to do new coding and maintenance, but i'm not familiar with OS git procedure to take full control yet.

[2019-09-20 16:21] alexreg commented on #56
@oreleraki That would be nice. Maybe you could start by submitting a few PRs? The maintainers will hopefully at least be able to review. If that goes well, could potentially make you a maintainer then.

[2019-09-20 17:08] oreleraki commented on #56
@alexreg I done it a month ago, with 2 feature and 1 bug PR, but they are still in the Pull Request section, without any review or approval. I can submit more, if i will see any real progress in accepting or at least reviewing them and give comments.

[2019-09-20 17:19] alexreg commented on #56
@oreleraki Ah sorry,  I wasn't aware, because I don't actively maintain this project any more or even get PR notifications. (I was the original author and maintainer however.) @txdv, would you be happy to review them?

If he doesn't get around to that in the next few weeks, I suppose I can have a quick look, and if they look good, I'll pass over maintainership to you. Just very busy at the moment,

[2019-09-23 06:16] Sonic3R opened #79 "[Bug] Authentication failed because the remote party has closed the transport stream."
I'm trying to connect to an irc server which gave me error: `Authentication failed because the remote party has closed the transport stream.`

The C# code:

[code]

[2019-09-23 06:19] #75 closed

[2019-09-28 05:19] oreleraki commented on #56
@alexreg, Still no reply, which is too bad we're letting this project to become obsolete.

[2019-09-28 13:26] alexreg commented on #56
@oreleraki I’ll review your PRs later today and give you maintainership if I’m happy with them.

[2019-09-28 21:27] alexreg commented on #56
@oreleraki Okay. I had a look at your three recent(ish) pull requests. Look good, basically. Just observe the few minor comments I left, and let's also think about adding more tests (probably the testing situation could be better to begin with).

I've gone ahead and granted you "write" privileges. Hopefully that should suffice for now, but happy to increase them later if need be. If you find there

[2019-09-30 06:18] oreleraki commented on #56
@alexreg, I dosen't allow me to do any "Merge Pull Request", maybe there is still missing. Also i think i should have targeted the fix to "release" and not master. Additionally, is there anywhere else i can communicate with you in case of questions ? (IRC?)

[2019-09-30 15:03] alexreg commented on #56
@oreleraki GitHub says you already have permission to merge pull requests...

You can communicate with me by email or here on GH if you like, though preferably only for the odd thing that really needs my attention, since I don't want to be involved in day-to-day maintenance of this project these days. :-)

[2019-10-15 21:29] oreleraki commented on #56
@alexreg I have fixed and aligned the PR and they are ready. but i can't PR approve them in master.
I think you may gave me access to "release" and not "master".

Also, should we do a complete PR from release to master to align ourselves with a clean slake ?

[2019-10-16 01:10] alexreg commented on #56
@oreleraki Nope, you have access to all branches. Have you tried simply pushing to master?

The idea is to use `release` as a branch for stabilisations and bug-fixes, but if you wish to adopt a different model, I'm okay with that.

[2019-10-16 17:49] oreleraki commented on #56
@alexreg As far as i know Git flow standard are as following:
We have 3 main branches: *master*(constant), *develop*(constant) and *release*(temporary).
*master* is the most stable version release and always production ready.
*develop* most changed branch, which contain all PR from different team members from **features** branches and **bugfix** branches.
*release* spawned from *develop* when all

[2019-10-16 18:25] alexreg commented on #56
@oreleraki I'm not a huge fan of Git flow personally, but I see why people like it. (I prefer just version and/or feature branches, I'd say.) But no, no objections, since you'd be maintaining it... as long as you are comfortable.

[2020-01-09 19:35] isaackearl commented on #49
Did anybody ever find a resolution for this?  I still cannot connect SSL/TLS using IrcDotNet using the StandardIrcClient.

[2020-01-09 20:20] canton7 commented on #49
I abandoned it and moved on. Much like the authors...

[2020-03-14 01:41] oreleraki commented on #49
@canton7, Hi, after seeing there are no maintainers, i asked by the Owner and became a Maintainer. I will soon start updating the libraries and my first goals will be fixing crashes. If you will be patient a bit more, i will check this matter and hope to implement a fix soon.

[2020-03-14 11:05] oreleraki commented on #71
@hypodyne, feature has been added.

[2020-03-14 11:05] #71 closed

[2020-03-14 11:06] oreleraki commented on #25
fixed.

[2020-03-14 11:06] #25 closed

[2020-03-14 11:06] #38 closed

[2020-03-14 21:58] oreleraki commented on #57
CI tests have been fixed.

[2020-03-14 21:58] #57 closed

[2020-03-26 13:39] isaackearl commented on #49
@oreleraki that is very awesome.  Thanks for jumping in and taking over!

[2020-03-31 19:39] BishopofCorinth commented on #49
Also running into this issue. Eagerly awaiting a fix. Thank you for picking up the work!

[2020-06-15 12:42] njlr opened #83 "Unhandled exception. System.NotSupportedException: This protocol version is not supported."
To test out the library I am trying to connect to a server and list the channels.

However, I get the exception `This protocol version is not supported`:

[code]

[code]

Have I somehow configured this incorrectly or is this a limitation of the library?

Note: I am able to connect to the server using HexChat.

[2020-07-03 22:24] thomasfdm opened #84 "TypeLoadException on connect"
Hi

When trying to use the library I'm getting the following Exception thrown. I feel like I'm missing a dependency but I can't tell how I'm meant to fulfil it?

[code]

I've tried including System.Collections.dll for .Net Standard 1.3 and Framework 4.x, but both still give the same result.

I'm having to load the .dll files on the fly because I'm reflecting it into an existing application (Video

[2020-07-27 14:00] shuyangw commented on #49
Has there been any update on this issue? I've been looking into this myself but haven't gotten anywhere yet.

[2020-07-27 16:14] canton7 commented on #83
Duplicate of #49?

[2020-07-27 16:15] canton7 commented on #79
Duplicate of #49? SSL is known to be broken

[2020-09-26 17:51] LeviVRussell opened #85 "'Sequence contains more than one matching element' exception when a user leaves a channel after local user rejoins that channel."
Hello all,

I get a "Sequence contains more than one matching element" exception when a user leaves a channel, after I:
1) Connect to an IRC server.
2) Join a channel.
3) Leave that channel.
4) Rejoin that channel.
5) A user leaves that channel.

I have traced a way to solve this issue:

Changing line 1044 in IrcClientMessageProcessing.cs from

`channel.HandleUserNameReply(new IrcChannelUser(user,

[2021-01-13 08:21] Sonic3R opened #86 "System.ArgumentException: collection contains an invalid Channelname"
Hi

I have channel name like `#my.channel.for.you` and when trying to join it, I give exception:

[code]

The code is:

[code]

What is the fix ?

[2021-01-13 08:24] #86 closed

[2021-01-13 08:24] Sonic3R commented on #86
Was my fault, the channel name contained a space which I didn't see. No issue.

[2021-04-02 13:02] alexandergre commented on #49
I managed to fix the problem for myself by modifying StandardIrcClient to use stream from TcpClient instead of CircularBufferStream for as an underlying stream for SslStream.  The problem is likely to be with CircularBufferStream but I was unable to figure out the way it works (how does data received from socket get into its buffer?)

[2021-04-04 16:47] alexandergre commented on #49
I think I managed to fix this, created PR: https://github.com/IrcDotNet/IrcDotNet/pull/87
Testing is welcome

[2021-04-04 16:48] alexandergre commented on #83
I think I managed to fix this, created PR: https://github.com/IrcDotNet/IrcDotNet/pull/87
Testing is welcome

[2021-04-04 16:48] alexandergre commented on #79
I think I managed to fix this, created PR: https://github.com/IrcDotNet/IrcDotNet/pull/87
Testing is welcome

[2021-05-16 14:01] oliverbooth commented on #45
I apologise for necro'ing this issue but I have feelings.

Why the hell is it `protected`? Every single sample I've seen, even [the ones in this repo](https://github.com/IrcDotNet/IrcDotNet/blob/master/samples/IrcDotNet.Samples.TwitchChat/Program.cs), show a simple construction of the `IrcClient` and then calling `Connect`.

I am completly lost for words at how difficult it is just to make a simpl

[2021-05-16 14:04] oliverbooth commented on #45
Oh right and the severely lackluster documentation.

[Seriously?](https://ircdotnet.github.io/IrcDotNet/references/ircdotnet-twitchircclient.html)

[2021-08-15 06:33] gunnbr commented on #56
@paralin or @alexreg , are there any maintainers left on this project? Like @Felk was a few years ago, I'm also trying write a bot for Twitch, but can't use IrcDotNet since Twitch requires turning on some features through capability negotiation. It looks like PR #39 and #51 are ready to merge and would make IrcDotNet much more useful. Is there anyone around who can do this?

Thank you!

[2021-08-15 12:55] paralin commented on #56
@gunnbr merged

[2021-08-15 21:25] paralin commented on #50
This was merged but it may still require some follow-up cleanup

https://github.com/IrcDotNet/IrcDotNet/pull/51

[2021-10-29 23:02] kreditor0815 commented on #49
is there any progress on this?

[2021-11-05 07:23] Krutonium commented on #12
As someone who actually knows .net quite well, I'm in agreement here - the existing examples are *extremely* convoluted for someone just starting out using the library.